<div id='container'>
  <div class='navigation'>
    <ul>
      <li><a href='#/links' class='index'>All Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
      <!-- <li><a href='/logout' class='logout'>Logout</a></li> -->
    </ul>

  </div>
  <form name="shortenForm" ng-controller="ShortenController">
    
    <input type="url" ng-model="link.url" required>
    <button ng-click="addLink(shortenForm.$valid)">Add Links</button>
    <div>{{ slink }}</div>
    <!--<div>Test validation: {{ shortenForm.$valid }}</div>-->
    <div>{{error}}</div>
  </form>

<!-- Your code here -->

</div>


